.demo {
    width: 600px;
    height: 200px;
    background: black;
    overflow: hidden;
    color: white;
    padding: 20px;
}

.demo-line:nth-child(odd) {
    background: #222;
}

.demo-user,
.demo-bot {
    font-weight: bold;
    width: 40px;
    display: inline-block;
}

.demo-user {
    color: lightgreen;
}

.demo-bot {
    color: #ff6000;
}