.demo {
    width: 600px;
    max-width: 90vw;
    height: 400px;
    background: black;
    overflow: auto;
    color: white;
    padding: 20px 0;
}

.demo:hover {
    cursor: pointer;
}

.demo-line {
    padding: 0 20px;
}

.demo-line:has(.demo-user) {
    background: #333;
}

.demo-user,
.demo-bot {
    font-weight: bold;
    width: 40px;
    display: inline-block;
}

.demo-user {
    color: #00ff00;
}

.demo-bot {
    color: #ff6000;
}